:root {
  --primary: gold;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: beige;
  font-family: "Libre Baskerville", serif;
  color: white;
  background-color: var(--bg);
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

.toggle {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0;
  z-index: 3;
  cursor: pointer;
}

.hamburger {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(1, 1, 1, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.hamburger > div {
  position: absolute;
  width: 50%;
  height: 3px;
  border-radius: 1.5px;
  background-color: var(--primary);
  transition: 0.5s;
}

.hamburger > div:before,
.hamburger > div:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: var(--primary);
}

.hamburger > div:before {
  top: -10px;
}

.hamburger > div:after {
  top: 10px;
}

.toggle:checked + .hamburger > div {
  transform: rotate(135deg);
}

.toggle:checked + .hamburger > div:after,
.toggle:checked + .hamburger > div:before {
  transform: rotate(90deg);
  top: 0;
}

.toggle:checked ~ .menu {
  visibility: visible;
}

.toggle:checked ~ .menu > div {
  transform: translateX(-50%) translateY(-50%);
}

.toggle:checked ~ .menu > div > div {
  opacity: 1;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  transition: 0.5s;
}

.menu-container .menu > div {
  position: absolute;
  width: 3000px;
  height: 3000px;
  border-radius: 50%;
  transform: translateX(-150%) translateY(-50%);
  top: 50%;
  left: 50%;
  background-color: rgba(1, 1, 1, 0.85);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu > div > div {
  max-width: 90vw;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
}

.menu > div > div > ul > li > a {
  margin: 0.5rem;
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
  transition: 0.3s;
}

.menu > div > div > ul > li > a:hover {
  color: var(--primary);
  font-size: 1.5rem;
}

/* Home */
.content {
  display: flex;
  width: 80%;
  margin: auto;
}

.content .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 650px;
  padding: 3rem;
  border: 5px solid var(--primary);
  border-radius: 10px;
}

.content .profile img {
  width: 240px;
  border-radius: 50%;
  margin-bottom: 2rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.content .profile h1,
.description h1 {
  font-size: 3rem;
  white-space: nowrap;
}

.content .profile h3 {
  font-size: 1.8rem;
  margin-top: 1rem;
  white-space: nowrap;
  display: inline-block;
}

.description h1 {
  overflow: hidden;
  animation: typingText 5s steps(30, end);
}
.content .description .my-name {
  color: var(--primary);
}

.content .description {
  margin: 2rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content .description p {
  font-size: 2rem;
  margin: 1.5rem 0;
  line-height: 3rem;
}

.content .description .cta-contact {
  display: inline-block;
  width: 200px;
  padding: 1rem 1rem;
  text-align: center;
  font-size: 1.5rem;
  color: var(--bg);
  font-weight: 700;
  background-color: var(--primary);
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.content .description .cta-contact:hover {
  background-color: var(--bg);
  color: var(--primary);
}

/* About Me */
.about,
.contact,
.project {
  padding: 2rem 5%;
}

.about h1,
.contact h1,
.project h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--primary);
}

.about .row {
  display: flex;
  margin-bottom: 2rem;
  border: 2px solid var(--primary);
  border-radius: 10px;
  padding: 1rem;
}

.about .row .img-about {
  flex: 1 1 20rem;
}

.about .row .img-about img {
  width: 100%;
  border-radius: 10px;
}

.about .row .about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 30rem;
  padding: 0 2rem;
}

.about .row .about-me h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.about .row .about-me p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.skills {
  max-width: 600px;
  margin: auto;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: var(--primary);
  border-radius: 10px;
  box-shadow: 0 40px 50px -25px hsla(225, 2%, 62%, 0.42),
    0 35px 75px -35px hsla(225, 2%, 62%, 0.08);
}

.skills h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--bg);
  text-shadow: 1px 1px 2px var(--bg);
}

.skills .img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  gap: 40px;
  background-color: var(--bg);
}

.skills img {
  width: 50px;
}

/* Project */
.project {
  background-color: var(--primary);
}

.project h1 {
  color: var(--bg);
}

.project .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.project .project-card {
  text-align: center;
  padding: 2rem;
  color: white;
  border-radius: 20px;
  background-color: var(--bg);
}

.project .project-img {
  padding: 1rem 0;
}

.project .project-img img {
  width: 25rem;
}

.project .project-icon {
  display: flex;
  justify-content: center;
}

.project .project-icon a {
  width: 3rem;
  height: 3rem;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  margin-bottom: 1rem;
}

.project .project-icon a:hover {
  background-color: var(--primary);
  color: var(--bg);
  transition: 0.3s;
}

.product-description h3 {
  color: var(--primary);
  margin-bottom: 1rem;
}

.product-description p {
  text-align: left;
  font-size: 13px;
}

/* Contact */
.contact .row {
  display: flex;
  background-color: #222;
  border-radius: 10px;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
  border-start-start-radius: 10px;
  border-end-start-radius: 10px;
}

.contact .row form {
  flex: 1 1 55rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid white;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: white;
}

.contact .row form .btn-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  gap: 20px;
  padding: 0.5rem 1rem;
  font-size: 1.7rem;
  border-radius: 10px;
  color: var(--bg);
  background-color: var(--primary);
}

.contact .row form .btn-contact:hover {
  color: var(--primary);
  background-color: var(--bg);
}

/* Animation */
@keyframes typingText {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Media Querys */
/* Laptop */
@media (max-width: 1366px) {
  .content .profile {
    width: 400px;
    height: auto;
  }

  .content .profile img {
    width: auto;
  }

  .content .profile h1,
  .description h1 {
    font-size: 2rem;
  }

  .content .profile h3 {
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  .content .description p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .content .description .cta-contact {
    width: 150px;
    padding: 0.7rem 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 1152px) {
  .content .profile {
    width: auto;
    padding: 1rem;
  }

  .content .profile h1 {
    font-size: 1.5rem;
  }

  .content .description {
    margin: auto 1rem;
  }

  .about .row .img-about {
    flex: 1 1 30rem;
  }

  .about .row .about-me {
    flex: 1 1 35rem;
    padding: 0 1rem;
  }

  .about .row .about-me p {
    font-size: 80%;
    line-height: 1.2rem;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .content {
    flex-wrap: wrap;
    margin: 1rem auto;
  }

  .content .profile {
    padding: 2rem;
    margin: auto;
  }

  .content .description {
    margin: auto;
    padding: 1rem;
  }

  .content .description h1 {
    text-align: center;
    margin: 0 auto;
    text-shadow: 2px 2px 10px var(--bg);
  }

  .content .description .cta-contact {
    margin: auto;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .img-about {
    padding: 0 5rem;
  }

  .about .row .img-about img {
    margin-bottom: 1rem;
  }

  .img-about {
    order: -1;
  }

  .skills .img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    gap: 20px;
    background-color: var(--bg);
  }

  .project .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
  }

  .project .project-img img {
    width: 15rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}

/* Handphone */
@media (max-width: 460px) {
  html {
    font-size: 90%;
  }

  .content .profile {
    padding: 1.4rem;
    margin: auto;
  }

  .content .profile img {
    width: 60%;
  }

  .skills img {
    width: 40px;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 70%;
  }

  .skills img {
    width: 25px;
  }
}
